<form>
  <div class="form-row">
    <div class="col">
      <mat-form-field>
        <mat-label>Part Number</mat-label>
        <input matInput placeholder="123456ABC" type="text">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Part Rev</mat-label>
        <input matInput placeholder="0.1" type="text">
      </mat-form-field>
    </div>
    <div class="col">
      <mat-form-field>
        <mat-label>Rev Date</mat-label>
        <input matInput type="date">
      </mat-form-field>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <mat-form-field>
        <mat-label>Part Name</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <mat-form-field>
        <mat-label>Supplier</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
  </div>
  <div class="form-row">
    <div class="col">
      <mat-form-field>
        <mat-label>Reason for Submission</mat-label>
        <input matInput type="text">
      </mat-form-field>
    </div>
  </div>
</form>

