<div class="container">
  <mat-card>
    <form #projectForm="ngForm" class="new-form" [formGroup]="newProject">
      <mat-card-title>New Supplier Project</mat-card-title>
      <mat-card-content>
        <div>
          <mat-form-field id="partno">
            <mat-label>Part Number</mat-label>
              <input matInput placeholder="123456ABC" formControlName="partNumber" type="text">
          </mat-form-field>
          <mat-form-field id="partrev">
            <mat-label>Part Rev</mat-label>
              <input matInput placeholder="0.1" formControlName="partRev" type="text">
            </mat-form-field>
            <mat-form-field>
              <mat-label>Rev Date</mat-label>
              <input formControlName="revDate" matInput [matDatepicker]="picker">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field id="partdesc">
              <mat-label>Part Name (Description)</mat-label>
              <input matInput formControlName="partName" type="text">
            </mat-form-field>
        </div>
        <div>
          <mat-form-field>
            <mat-label>Supplier</mat-label>
            <input formControlName="supplier" matInput type="text">
          </mat-form-field>
          <mat-form-field>
            <mat-label>Reason for Submission</mat-label>
              <mat-select>
                <mat-option value="option" *ngFor="let reason of projectReasons">{{reason.name}}</mat-option>
              </mat-select>
          </mat-form-field>
        </div>
        <div>
          <button class="btn btn-primary" (click)="onSubmit(projectForm.value)">Submit</button>
        </div>
      </mat-card-content>
    </form>
  </mat-card>
</div>
