<div class="container">
  <mat-tab-group class="workflow">
    <mat-card class="test">
      <mat-tab label="Create">
        <app-create></app-create>
      </mat-tab>
      <mat-tab label="Define">
        <app-define></app-define>
      </mat-tab>
      <mat-tab label="Approve Project">
        <app-approve-project></app-approve-project>
      </mat-tab>
      <mat-tab label="Execute Project">
        <app-execute-project></app-execute-project>
      </mat-tab>
      <mat-tab label="Approved">
        <app-approved></app-approved>
      </mat-tab>
      <mat-tab label="Cancelled">
        <app-cancelled></app-cancelled>
      </mat-tab>
    </mat-card>
  </mat-tab-group>
</div>

