#signup {
  background: url(../../assets/images/landing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 5%;
}

.lead, h1 {
  color: white;
  font-weight: 400;
}

p {
  color: #49538b;
}
