#signup {
  background: url(../../assets/images/landing.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin: 5%;
}

.lead {
  color: white;
  font-weight: 400;
}

h1, p {
  color: #3f51b5;
}
